
@{
    ViewBag.Title = "Index";
}


<!-- Link hacia el archivo de estilos css -->

<link rel="stylesheet" href="css/HomeEmpresa.css">
<style type="text/css">
</style>
@Styles.Render("~/Content/HomeEmpresa.css")
<script type="text/javascript"></script>

<div class="container db-social">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul>
                                </ul>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">
                                    <img class="rounded-circle" src="~/Content/img/logo.png" alt="...">
                                </div>
                                <div class="infos">

                                    <h2>BIENVENIDO</h2>
                                    <h2>Nombre: <strong>@ViewBag.Mensaje</strong></h2>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />

<section>
    <div class="container">

        <div class="section-heading title-style4 border-bottom padding-25px-bottom sm-padding-15px-bottom">

        </div>

        <div class="row mt-60">
            <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="service-block4 h-100">
                    <div class="service-icon">
                        <i class="icon-tools"></i>
                    </div>
                    <div class="service-desc">
                        <h4>Misión:</h4>
                        <h5></h5>
                        <p>
                            Nuestra misión es conectar de manera eficiente y efectiva a empresas y aplicantes a través de nuestra plataforma en línea, proporcionando un espacio donde los aplicantes puedan presentar sus currículos de manera sencilla, y donde las empresas puedan crear y publicar ofertas de empleo.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="service-block4 h-100">
                    <div class="service-icon">

                    </div>
                    <div class="service-desc">
                        <h4>Visión:</h4>
                        <h5></h5>
                        <p>Nuestra visión es convertirnos en la principal plataforma en línea para la búsqueda y contratación de talento, reconocida por su facilidad de uso, calidad de los perfiles de aplicantes y la diversidad de oportunidades laborales ofrecidas por las empresas. Buscamos ser un referente en la industria.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="service-block4 h-100">
                    <div class="service-icon">
                        <i class="icon-hotairballoon"></i>
                    </div>
                    <div class="service-desc">
                        <h4>Valores:</h4>
                        <h5></h5>
                        <p>- Integridad
                        <p />
                        <p>- Responsabilidad
                        <p />
                        <p>- Respeto
                        <p />
                        <p>- Calidad
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/Mercadeo.jpg">
                        <ul class="tags text-white pull-right">

                            <li><a href="/HomeEmpresa/PaginaMercadeo">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Mercadeo</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        En esta categoria encontramos encontramos encargados de marketing, coordinador de mercadeo, auxiliar de control de inventarios...
                    </p>
                </div>

            </section>
        </div>
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/programadora.jpg">
                        <ul class="tags text-white pull-right">
                            <li><a href="/HomeEmpresa/PaginaTecnologia">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Tecnologia</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        En esta categoría encontramos trabajos como programadores, soporte técnico, ingeniros en redes, analistas de sistemas...
                    </p>
                </div>

            </section>
        </div>
    </div>
</div>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/SS.jpg">
                        <ul class="tags text-white pull-right">
                            <li><a href="/HomeEmpresa/PaginaRecursosHumanos">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Recursos Humanos</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        En esta categoria clasifican diversos empleos enfatisando el talento, eficiencia  como  vendedores pre-venta, cocineros, policías...
                    </p>
                </div>

            </section>
        </div>
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/contador.jpg">
                        <ul class="tags text-white pull-right">
                            <li><a href="/HomeEmpresa/PaginaContabilidad">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Contabilidad</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        Esta categoria engloba empleos como contadores, auxiliar contable, coordinador de creditos y cobro, analista de operaciones de liquidacion...
                    </p>
                </div>

            </section>
        </div>

    </div>
</div>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/Salud.jpg">
                        <ul class="tags text-white pull-right">
                            <li><a href="/HomeEmpresa/PaginaSalud">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Salud</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        En la categoria salud encontramos empleos de Médicos, enfermeras, auxiliar de enfermeras, cirujanos, nutricionistas...
                    </p>
                </div>

            </section>
        </div>
        <div class="col-md-6">
            <section class="widget">

                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <img src="~/Content/img/Construccion.jpg">
                        <ul class="tags text-white pull-right">
                            <li><a href="/HomeEmpresa/PaginaConstruccion">Ver empleos</a></li>

                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="img-circle" src="~/Content/img/logo.png" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs"><span class="fw-semi-bold">Construccion</h5>

                    </div>
                    <p class="text-light fs-mini m">
                        En esta categoria encontramos empleos como albañiles, carpinteros, fontaneros, electricistas, arquitectos, ingenieros civiles...
                    </p>
                </div>

            </section>
        </div>

    </div>
</div>

