
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #16213e;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            width: 500px;
            margin: 20px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="card">
            <img src="https://www.up-spain.com/wp-content/uploads/2022/11/habilidades-empleados-reclutamiento-1.jpeg" class="card-img-top" alt="Imagen 1">
            <div class="card-body">
                <h5 class="card-title">Empleado</h5>
                <p class="card-text">registrarse como empleador o futuro empleado en un sitio web dedicado a publicaciones de empleo ofrece acceso a una amplia base de candidatos o oportunidades laborales, mayor alcance y visibilidad, ahorro de tiempo y recursos, herramientas adicionales y networking profesional. Estas ventajas hacen que sea beneficioso para ambos lados del proceso de contratación.</p>
                <a href="/Login/Pagina1" class="btn btn-primary">Registrate</a>
                @*<a value="pagina1" class="btn btn-primary">Botón 1</a>*@
            </div>
        </div>

        <div class="card">
            <img src="https://www.gov.br/secom/pt-br/assuntos/noticias/2022/02/mais-de-4-milhoes-de-novos-empreendimentos-foram-abertos-no-pais-em-2021/b7a903a9-a2db-49b8-b22a-a59df9232e07.jpeg" class="card-img-top" alt="Imagen 2">
            <div class="card-body">
                <h5 class="card-title">Empresas</h5>
                <p class="card-text">Registrar las empresas en un sitio web dedicado a publicaciones de empleo brinda mayor visibilidad, acceso a talento cualificado, ahorro de tiempo y recursos, y mejora la credibilidad y reputación de la empresa como empleador. Estas razones hacen que sea una práctica beneficiosa para reclutar y contratar a los mejores candidatos.</p>

                <a href="/Login/Pagina2" class="btn btn-primary" >Registrate</a>
                @*<a value="pagina2" class="btn btn-primary">Botón 1</a>*@
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

</html>



